<%= form_for item do |t| %>
    <label>Nom de la tâche</label>
    <%= t.text_field :name,class: "form-control" %>
    <label>Detail de la tâche</label>
    <%= t.text_area :details,class: "form-control" %>
    <label>Date Limite de la tâche</label>
    <%= t.date_field :limit, min: Date.today, class: "form-control" %>
    <label>Niveau d'importante de la tâche</label>
    <%= t.collection_select :level_id, Level.all, :id, :name, {}, {} %>
    <br>
    <%= t.submit nil, class: 'btn btn-primary' %>
<% end %>
<br>
<a href="<% tasks_path %>" class="btn btn-info">Revenir à la liste des tâches</a>