<h1>Nom de la tâche</h1>
<%= @task.name %>
<h2>Detail de la tâche</h2>
<%= @task.details %>
<h2>Date limite de la tâche</h2>
<%= @task.limit %>
<h2>Niveau d'importance de la tâche</h2>
<%= @task.level %>
<br>
<a href="<%= tasks_path %>">Revenir aux tâches</a>